<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/main :: headPart">
</head>
<body>
<div th:replace="layout/main :: header"></div>
<div class="container top-space">
    <div class="jumbotron">
        <h1 class="text-center">Project List
            <a class="pull-right btn btn-primary btn-lg" th:href="@{/project/create}">Create Project</a>
        </h1><br/>
        <table class="table table-responsive table-condensed table-hover" th:if="${not #lists.isEmpty(projectList)}">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="projectCommand,status : ${projectList}">
                <td th:text="${status.index + 1}"></td>
                <td th:text="${projectCommand.getName()}"></td>
                <td>
                    <a th:href="@{/task/list/{projectId}(projectId=${projectCommand.getId()})}"><i
                            class="fa fa-comments-o"></i> View</a>&nbsp;|&nbsp;
                    <a th:href="@{/project/edit/{projectId}(projectId=${projectCommand.getId()})}"><i
                            class="fa fa-comments-o"></i> Edit</a>&nbsp;|&nbsp;
                    <a th:href="@{/project/delete/{projectId}(projectId=${projectCommand.getId()})}"><i
                            class="fa fa-comments-o"></i> Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="alert alert-danger" th:if="${#lists.isEmpty(projectList)}">
            <p class="text-center">
                No Project(s) record found. Please try again later.
            </p>
        </div>
    </div>
</div>
<div th:replace="layout/main :: footer"></div>
</body>
</html>