<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/main :: headPart">
    <title>Edit Label</title>
</head>
<body>
<div th:replace="layout/main :: header"></div>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Edit Label</div>
                </div>
                <form method="post" th:object="${label}">
                    <div class="panel-body">
                        <div id="signupalert" style="display:none" class="alert alert-danger">
                            <p>Error:</p>
                            <span></span>
                        </div>

                        <div class="form-group">
                            <label for="name" class="col-md-3 control-label">Label Name</label>

                            <div class="col-md-9">
                                <input type="text" class="form-control" name="name" id="name"
                                       placeholder="Enter Label Name" th:field="*{name}"/>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="submit" value="Submit" class="btn btn-info"/>
                            </div>
                            <div class="col-md-6">
                                <a class="btn btn-flat btn-info pull-right" th:href="@{/label/list}">
                                    Label List
                                </a>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<div th:replace="layout/main :: footer"></div>
</body>
</html>