<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/main :: headPart">
</head>
<body>
<div th:replace="layout/main :: header"></div>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">Labels</div>
                    <div style="float:right; font-size: 85%; position: relative; top:-10px">
                        <a th:href="@{/label/create}">Add Label</a>
                    </div>
                </div>

                <div class="panel-body">
                    <div th:if="${#lists.isEmpty(labelCommandList)}">
                        <div class="alert alert-danger">No Label Record's Found</div>
                    </div>
                    <div th:if="!${#lists.isEmpty(labelCommandList)}">
                        <table class="table table-bordered table-inverse">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="label, status: ${labelCommandList}">
                                <th scope="row" th:text="${status.index+1}">1</th>
                                <td th:text="${label.getName()}">Label</td>
                                <td>
                                    <a class="btn btn-flat btn btn-flat-primary"
                                       th:href="@{/label/edit/__${label.getId()}__}">
                                        <i class="fa fa-edit"></i>
                                    </a>

                                    <a class="btn btn btn-flat-danger"
                                       th:href="@{/label/delete/__${label.getId()}__}">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<div th:replace="layout/main :: footer"></div>
</body>
</html>