<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="layouts/main :: headPart">
</head>
<body>
<!--<div th:replace="layouts/main :: header"></div>
<div class="container top-space">
    <div class="jumbotron">
        <h1 class="text-center">Comments List
            <a class="pull-right btn btn-primary btn-lg" th:href="@{/project/create}">Create Project</a>
        </h1><br/>
        &lt;!&ndash;<table class="table table-responsive table-condensed table-hover" th:if="${not #lists.isEmpty(commentList)}">
            <tr th:each="projectCommand,status : ${projectList}">
                <td th:text="${status.index + 1}"></td>
                <td th:text="${projectCommand.getDeviceName()}"></td>
                <td th:text="${deviceVO.getPrimaryPhoneNumber()}"></td>
                <td th:text="${deviceVO.getSimSerialNumber()}"></td>
                <td th:text="${deviceVO.getIMEINumber()}"></td>
                <td>
                    <a th:href="@{/smsData/list/{deviceId}(deviceId=${deviceVO.getUniqueId()})}"><i
                            class="fa fa-comments-o"></i> SMS History</a>&nbsp;|&nbsp;
                    <a th:href="@{/callLog/list/{deviceId}(deviceId=${deviceVO.getUniqueId()})}"><i
                            class="fa fa-volume-control-phone"></i> Call Logs</a>
                </td>
            </tr>
            </tbody>
        </table>&ndash;&gt;
        <tr th:each="commentCommand,status : ${commentList}">
            <textarea rows="4" cols="50" th:text="${commentCommand.getCommentBody()}">

        </textarea>
            <td th:text="${status.index + 1}"></td>
            <td th:text="${projectCommand.getDeviceName()}"></td>
            <td th:text="${deviceVO.getPrimaryPhoneNumber()}"></td>
            <td th:text="${deviceVO.getSimSerialNumber()}"></td>
            <td th:text="${deviceVO.getIMEINumber()}"></td>
            <td>
                <a th:href="@{/smsData/list/{deviceId}(deviceId=${deviceVO.getUniqueId()})}"><i
                        class="fa fa-comments-o"></i> SMS History</a>&nbsp;|&nbsp;
                <a th:href="@{/callLog/list/{deviceId}(deviceId=${deviceVO.getUniqueId()})}"><i
                        class="fa fa-volume-control-phone"></i> Call Logs</a>
            </td>
        </tr>
        <div class="alert alert-danger" th:if="${#lists.isEmpty(projectList)}">
            <p class="text-center">
                No Project(s) record found. Please try again later.
            </p>
        </div>
    </div>
</div>-->
<div th:replace="layouts/main :: footer"></div>
</body>
</html>