<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/main :: headPart">
</head>
<body>
<div th:replace="layout/main :: header"></div>
<div class="container top-space">
    <div class="jumbotron">
        <h1 class="text-center">Project Details</h1><br/>
        <div class="row">
            <div class="col-lg-6">Name:&nbsp;<h2 th:text="${projectCommand.getName()}"></h2></div>
            <div class="col-lg-6">Create By:&nbsp;<h2 th:text="${projectCommand.getDateCreatedStr()}"></h2></div>
        </div>
    </div>
</div>
<div class="container top-space">
    <div class="jumbotron">
        <h1 class="text-center">Task List
            <a class="pull-right btn btn-primary btn-lg" th:href="@{/task/create}">Create Task</a>
        </h1><br/>
        <div th:if="${#lists.isEmpty(taskList)}">
            <div class="alert alert-danger">No Task Found</div>
        </div>
        <div th:if="!${#lists.isEmpty(taskList)}">
            <div class="row">
                <ul class="todo-list">
                    <li th:each="task: ${taskList}">

                            <span class="text col-md-3" th:text="${task.getTitle()}">

                                        </span>
                        <span class="text  col-md-3" th:text="${task.getDescription()}">
                                        </span>
                        <span class="text  col-md-3" th:text="${task.getDeadLine()}">
                                        </span>

                        <span class="tools">
                            <a class="btn btn-flat btn btn-flat-primary"
                               th:href="@{/task/edit/__${task.getId()}__}">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a class="btn btn btn-flat-danger"
                               th:href="@{/task/delete/__${task.getId()}__}">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
<div th:replace="layout/main :: footer"></div>
</body>
</html>